.headblock {
  display: flex;
}

.rounds {
  width: 21px;
  height: 21px;
  background-image: url("../img/round.svg");
  margin: 2px 16px 0 0;
}

.rounds-white {
  background-image: url("../img/round-white.svg");
}

.heading-2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}

.heading-white {
  color: #ffffff;
}

.subheading-left {
  color: #253757;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
}
