.slider {
  display: flex;
  margin-top: -320px;
  overflow: hidden;
  &__wrap {
    position: relative;
    width: 75vw;
    margin-left: 10vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  &__button {
    position: absolute;
    top: 288px;
    background-color: #fcc304;
    width: 81px;
    height: 64px;
    z-index: 5;
    opacity: 0.9;
    &-next {
      left: 0;
      border-radius: 0 32px 32px 0;
      background-image: url("../img/slider/next.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &-prev {
      left: -81px;
      border-radius: 32px 0 0 32px;
      background-image: url("../img/slider/previous.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.95;
    }
  }
  &__item {
    opacity: 1;
    position: relative;
    z-index: 4;
  }
  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__heading {
    color: #56ccf2;
    position: absolute;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 65%;
    left: 100px;
  }
  &__texting {
    color: #ffffff;
    position: absolute;
    font-weight: 900;
    font-size: 19px;
    line-height: 140%;
    top: 70%;
    left: 100px;
  }
  &__social {
    transform: rotate(90deg);
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
    width: 25px;
    height: 5vw;
  }
  &__networks {
    padding: 0 20px;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: #253757;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
