.welcome {
  padding: 150px 30% 0 30%;
  &__subheading {
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin: 136px auto;
  }
}

.doing {
  display: flex;
  justify-content: space-evenly;
  &__do1,
  &__do2,
  &__do3 {
    width: 264px;
  }
  &__img-do {
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  &__boldtext {
    font-weight: 900;
    font-size: 19.6px;
  }
  &__text {
    font-size: 16px;
  }
}
